# Enforce LF for all text files
* text=auto eol=lf

# Treat common binary file types as binary (so Git won't normalize line endings):
*.png  binary
*.jpg  binary
*.jpeg binary
*.gif  binary
*.pdf  binary
*.zip  binary
*.exe  binary
*.ico  binary
*.dll  binary
*.woff binary
*.woff2 binary
